{% extends 'base.html' %}

{% block content %}
<div class="container" style="max-width: 800px; margin-top: 100px; padding: 20px;">
    <h1 style="color: #003366; font-size: 2.5rem; font-weight: 600; margin-bottom: 20px; text-align:center">
        Σχετικά με την Εφαρμογή
    </h1>

    <p style="font-size: 1.2rem; line-height: 1.6; color: #333; text-align: justify; padding: 15px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);">
        Αυτή η εφαρμογή επιτρέπει την ανάλυση και αναζήτηση ομιλιών των μελών του Ελληνικού Κοινοβουλίου. Παρέχει τις εξής λειτουργίες:

    <br><br> <strong>-Αναζήτηση Ομιλιών:</strong> Επιτρέπει στους χρήστες να αναζητούν ομιλίες μελών με βάση λέξεις-κλειδιά και να βλέπουν τις πιο σχετικές ομιλίες, ταξινομημένες με βάση τον βαθμό σχετικότητας (TF-IDF).

    <br><br> <strong>-Λέξεις-Κλειδιά Ανά Ομιλία, Βουλευτή και Κόμμα:</strong> Παρουσιάζει τις σημαντικότερες λέξεις-κλειδιά για κάθε μέλος ή κόμμα, καθώς και την εξέλιξή τους με την πάροδο του χρόνου.

    <br><br> <strong>-Ομοιότητες Ανά Ζεύγη Μελών:</strong> Εντοπίζει τα πιο παρόμοια ζεύγη μελών του κοινοβουλίου, χρησιμοποιώντας ομοιότητα μεταξύ των ομιλιών τους, και επιστρέφει τα top-k ζεύγη με τον υψηλότερο βαθμό ομοιότητας.

    <br><br> <strong>-LSI Vectors:</strong> Βρίσκει τις σημαντικότερες θεματικές περιοχές και εκφράζει την κάθε ομιλία ως διάνυσμα σε κάποιον πολυδιάστατο χώρο.

    <br><br> Αυτές οι λειτουργίες βοηθούν στην ανάλυση της γλώσσας και της θεματολογίας των ομιλιών, καθώς και στη σύγκριση των απόψεων των μελών του κοινοβουλίου.
    </p>
</div>
{% endblock %}
